---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Blossomrisk">
	<main>
		<h1>Blossom</h1>
		<h2>Risk Management</h2>
		<img src="Blossom.png" />
	</main>
</Layout>

<style>
	main {
		align-self: center;
		margin: auto;
		display: grid;
		width: 460px;
		grid-template-columns: auto;
  		grid-template-rows: auto;
		grid-template-areas: 
    		"logo header "
    		"logo header2 ";
	}
	h1, h2 {
		margin: 0;
		padding: 0;
		color: #363636;
	}

	h1, h2, img {
		justify-self: start;
	}
	img {
		grid-area: logo;
		height: 100px;
	}

	h1 {
		grid-area: header;
		font-family: "FoundersGrotesk-Bold", system-ui, sans-serif;
		font-size: 80px;
	}

	h2 {
		grid-area: header2;
		font-size: 40px;
		position: relative;
		top: -25px;
	}
</style>
